@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

$main-color: #2C2728;
$orange-color: #FF793D;
$orange-color-dark: #ff5d13;
$blue-color: #008FD5;
$yellow-color: #FFF28A;
$pink-color: #FCDDCF;
$color-white: #ffffff;
$gray-color: #999294;
$gray-color-midle: #DEDEDE;
$gray-color-ligth: #F5F5F5;
$gray-color-muted: #BABABA;
$star-hover: #f7c6af;
$star-color: #DEDEDE;
